<div class="page-header">
  <h1>Viewing your account</h1><br />
</div>

<p>User: <%= @account.user.username %><br />

Store: <%= @account.store.name %><br />

Current Value: <%= @account.value %></p>

<hr />
